@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .toggler-icon {
        @apply block bg-gray-700 relative duration-300;
        height: 2px;
        width: 30px;
        margin: 6px 0;
      }
    .navIcons{
        @apply w-7 hidden md:inline-flex text-white hover:scale-[115%] transition-all ease-out duration-100 cursor-pointer
    }
    .bg-nav{
        @apply  backdrop-blur-xl bg-white/10
    }
    .list-item{
      @apply p-3 hover:bg-cyan-600 hover:text-blue-200 font-semibold
    }
    .btn-cyan{
      @apply  px-4 py-2 text-white hover:bg-cyan-800 duration-150  rounded-lg bg-cyan-700
    }
}
body{ 
  background-attachment: fixed;
  background-color: black;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
::-webkit-scrollbar{
  width: 12px;
  border-radius: 100vw;
}
::-webkit-scrollbar-track{
  opacity: 0;
}
::-webkit-scrollbar-thumb{
  border-radius: 100vw;
  background: rgb(61, 60, 60);
}
