@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .toggler-icon {
        @apply block bg-gray-700 relative duration-300;
        height: 2px;
        width: 30px;
        margin: 6px 0;
      }
      .navIcons{
        @apply w-7 hidden md:inline-flex text-gray-800 hover:scale-[115%] transition-all ease-out duration-100 cursor-pointer
    }
}