@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .toggler-icon {
        @apply block bg-gray-700 relative duration-300;
        height: 2px;
        width: 30px;
        margin: 6px 0;
      }
      .navIcons{
        @apply w-7 hidden md:inline-flex text-white hover:scale-[115%] transition-all ease-out duration-100 cursor-pointer
    }
    .bg-nav{
        @apply  backdrop-blur-xl bg-white/10
    }
    .list-item{
      @apply p-3 hover:bg-cyan-600 hover:text-blue-200 font-semibold
    }
}
body{ 
  background-attachment: fixed;
  background-color: black;
  width: 100%;
background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

